/* Общие стили */
header {
    background-color: #363b79;
    padding: 10px 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.header-left {
    display: flex;
    align-items: center;
}

.header-left span {
    margin-right: 250px;
    font-weight: bold;
    color: #fff;
}

.header-left button {
    padding: 8px 16px;
    border: none;
    background-color: #3498db;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-right: 100px;
}

.header-left button:hover {
    background-color: #2980b9;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #122436;
    color: #fff;
}

a{
    color: aqua;
    text-decoration: underline;
}
.container {
    max-width: 800px;
    margin: 10vh auto;
    padding: 20px;
    background-color: #363b79;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #fff;
}

.profile-details {
    margin-bottom: 20px;
}

.profile-details p {
    margin: 5px 0;
}

/* Стили для кнопок */
button {
    padding: 8px 16px;
    border: none;
    background-color: #3498db;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #2980b9;
}

/* Стили для списка проектов */
ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin-bottom: 10px;
}

/* Стили для формы добавления нового проекта */
.add-project-form {
    margin-top: 20px;
}

.add-project-form label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #fff;
}

.add-project-form input[type="text"],
.add-project-form input[type="file"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #444;
    color: #fff;
}

.add-project-form textarea {
    width: 100%;
    height: 80px;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #444;
    color: #fff;
}

.add-project-form button[type="submit"] {
    width: auto;
    padding: 8px 16px;
}

/* Стили для формы редактирования профиля */
.edit-profile-form {
    margin-top: 20px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

.form-group input[type="text"],
.form-group input[type="file"],
.form-group select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #444;
    color: #fff;
}

.form-group textarea {
    width: 100%;
    height: 80px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #444;
    color: #fff;
}

.submit-button {
    width: auto;
    padding: 8px 16px;
    border: none;
    background-color: #3498db;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit-button:hover {
    background-color: #2980b9;
}
